.header {
    display: block;
    position: relative;
    background-color: var(--dark-color-secondary);
    padding: 150px 20px 75px 20px;

    &__text__description {
        color: var(--white-color);
    }

    &__text__title {
        color: var(--white-color);
        margin: 40px 0;
    }

    &__button {
        display: block;
        margin: 15px 0;
    }

    &__links {
        position: absolute;
        display: inline-block;
        bottom: 0;
        right: 5%;
        background-color: var(--white-color);
        padding: 16px 24px;

        a {
            font-family: var(--font-archivo);
            font-weight: 700;
            font-size: 1rem;
            text-decoration: none;
            color: var(--dark-color);

            &:hover {
                color: var(--golden-color);
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .header {
        padding: 180px 20% 75px 20%;

        &__text__title {
            font-size: 7.5rem;
            max-width: 800px;
        }

        &__button {
            display: inline-block;
            margin: 0 15px;
        }

        &__links {
            right: 15%;
        }
    }

    .header__back {
        height: 100px;
        width: 100%;
        background-color: var(--dark-color);
    }
}
