.header {
    display: block;
    background-color: var(--dark-color-secondary);
    padding: 150px 20px 75px 20px;

    &__text__description {
        color: var(--white-color);
    }

    &__text__title {
        color: var(--white-color);
        margin: 40px 0;
    }

    &__button {
        display: block;
        margin: 15px 0;
    }
}

@media only screen and (min-width: 1000px) {
    .header {
        padding: 180px 20% 75px 20%;

        &__text__title {
            font-size: 7.5rem;
            max-width: 800px;
        }

        &__button {
            display: inline-block;
            margin: 0 15px;
        }
    }

    .header__back {
        height: 100px;
        width: 100%;
        background-color: var(--dark-color);
    }
}
