.about-data {
    padding: 30px 20px;

    &__discover {
        display: block;

        &__subtitle {
            margin: 8px 0;
        }

        &__title {
            margin: 16px 0;
            overflow-wrap: break-word;
        }

        &__button {
            margin: 24px 0;
        }
    }

    &__card {
        display: block;
        margin: 40px auto;

        &__img,
        &__description {
            display: block;
            margin: auto;
            height: 300px;
            width: 270px;
            object-fit: cover;
        }

        &__description {
            position: relative;
            padding: 40px 35px;

            &--dark {
                background-color: var(--dark-color);
            }

            &__img {
                display: block;
                margin: auto;
                margin-bottom: 10px;
            }

            &__title {
                font-family: var(--font-old-standard);
                font-weight: 400;
                font-size: 1.8rem;
                text-align: center;
                margin: 20px 0;

                &--white {
                    color: var(--white-color);
                }
            }

            &__text {
                text-align: center;
            }

            &__background {
                position: absolute;
                right: 0;
                top: 50px;
                width: 140px;
                filter: opacity(0.1) grayscale(1);
                z-index: -10;
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .about-data {
        padding: 150px 19%;

        &__discover {
            justify-content: center;

            &__button {
                max-width: 215px;
            }
        }

        &__card__container {
            display: flex;
            justify-content: center;
        }

        &__card {
            margin: 0;

            &__img,
            &__description {
                margin: 15px;
            }

            &__team {
                display: flex;
                flex-direction: column-reverse;
                justify-content: flex-end;
            }

            &__room {
                margin-top: 30px;
            }
        }
    }
}

@media only screen and (min-width: 1300px) {
    .about-data {
        display: flex;
        flex-direction: row-reverse;
        gap: 50px;
        padding: 150px 19%;

        &__discover {
            display: flex;
            width: 45%;
            flex-direction: column;
            justify-content: center;

            &__button {
                max-width: 215px;
            }
        }

        &__card__container {
            display: flex;
            width: 35%;
            justify-content: flex-end;
        }

        &__card {
            margin: 0;

            &__img,
            &__description {
                margin: 15px;
            }

            &__team {
                display: flex;
                flex-direction: column-reverse;
                justify-content: flex-end;
            }

            &__room {
                margin-top: 30px;
            }
        }
    }
}
