.room-related {
    position: relative;
    padding: 0 5%;

    &__title {
        font-size: 1.87rem;
        margin-bottom: 10px;
    }

    hr {
        border: 1px solid #F1F1F1;
        margin-bottom: 30px;
    }

    &__list {
        display: none;
        gap: 30px;
        flex-wrap: wrap;
    }

    &__swiper__prev-element,
    &__swiper__next-element {
        user-select: none;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 30%;
        width: 32px;
        height: 32px;
        z-index: 2;
        background-color: var(--white-color);
        font-family: var(--font-old-standard);
        font-weight: 700;
        cursor: pointer;

        &:hover {
            background-color: var(--golden-color);
            color: var(--white-color);
        }
    }

    &__swiper__next-element {
        right: 10px;
        left: auto;
    }

    &__swiper__prev-element {
        left: 10px;
        right: auto;
        transform: rotate(180deg);
    }
}

@media only screen and (min-width: 1000px) {
    .room-related {
        padding: 120px 19%;

        hr {
            width: 60%;
        }

        &__list {
            display: flex;
        }

        &__room {
            width: 370px;
            margin: 0;
        }

        .swiper-room-related {
            display: none;
        }
    }
}
